@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
@import './config/variables';
@import './base/base';
@import './components/header',
'./components/home',
'./components/menu',
'./components/freeShopping',
'./components/amazingDeals',
'./components/topDeal',
'./components/summerSale',
'./components/moreDeals',
'./components/menu-item',
'./components/footer',
'./components/dresses';




